<footer id="footer" style="margin-top: 0;">
            <div class="container">
                <div class="row">
                    <div class="maxwidth-theme">
                        <div class="col-md-3 hidden-sm hidden-xs">
                            <div class="copy">© 2015 Компания<br>Все права защищены.</div>
                            <div id="bx-composite-banner"></div>
                        </div>
                        <div class="col-md-9 col-sm-12">
                            <div class="row">
                                <div class="col-md-9 col-sm-9">
                                    <div class="bottom-menu">
                                        <div class="items row">
                                            <div class="col-md-4 col-sm-6">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="/">Каталог</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="/">Проекты</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="/">Услуги</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="/">Новости</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="/">Статьи</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="/">Вопросы и ответы</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="/">Вакансии</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="/">Компания</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6">
                                                <div class="item">
                                                    <div class="title">
                                                        <a href="/">Контакты</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="info">
                                        <div class="phone">
                                            <i class="fa fa-phone"></i> 
                                            <span style="color: #969ba5;">+7 (3952)</span> 65-34-21
                                        </div>
                                        <div class="email">
                                            <i class="fa fa-envelope"></i>
                                            <a href="mailto:info@angara-monitoring.ru">info@angara-monitoring.ru</a>
                                        </div>
                                    </div>
                                    <div class="social">
                                        <div class="social-icons">
                                            <ul>
                                                <li class="twitter">
                                                    <a href="http://twitter.com/" target="_blank" title="Ссылка на страницу сайта в Twitter">Ссылка на страницу сайта в Twitter
                                                        <i class="fa fa-twitter"></i>
                                                        <i class="fa fa-twitter hide"></i>
                                                    </a>
                                                </li>
                                                <li class="facebook">
                                                    <a href="http://www.facebook.com/" target="_blank" title="Ссылка на страницу сайта в Facebook">Ссылка на страницу сайта в Facebook
                                                        <i class="fa fa-facebook"></i>
                                                        <i class="fa fa-facebook hide"></i>
                                                    </a>
                                                </li>
                                                <li class="vk">
                                                    <a href="http://vk.com/" target="_blank" title="Ссылка на страницу сайта в ВКонтакте">
                                                        Ссылка на страницу сайта в ВКонтакте
                                                        <i class="fa fa-vk"></i>
                                                        <i class="fa fa-vk hide"></i>
                                                    </a>
                                                </li>
                                                <li class="lj">
                                                    <a href="http://youtube.com/" target="_blank" title="Ссылка на страницу сайта в YouTube">
                                                        Ссылка на страницу сайта в YouTube
                                                        <i class="fa fa-youtube"></i>
                                                        <i class="fa fa-youtube hide"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 hidden-md hidden-lg">
                            <div class="copy">
                                © 2015 Компания<br>Все права защищены.
                            </div>
                            <div id="bx-composite-banner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>      