<meta charset="UTF-8">
<meta http-equiv="content-language" content="ru">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
<link rel="stylesheet" href="http://<?=$_SERVER['HTTP_HOST']?>/css/styles.css" />
<link rel="stylesheet" href="http://<?=$_SERVER['HTTP_HOST']?>/css/jquery-ui.css" />
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://api-maps.yandex.ru/2.0/?load=package.map&lang=ru-RU" type="text/javascript"></script>
<script src="http://<?=$_SERVER['HTTP_HOST']?>/leaflet/plugins/yandex.js"></script>
<script src="http://<?=$_SERVER['HTTP_HOST']?>/js/jquery.form.js"></script>
<script src="http://<?=$_SERVER['HTTP_HOST']?>/js/server.js"></script>
<script src="http://<?=$_SERVER['HTTP_HOST']?>/js/jquery-ui.js"></script>
