<header class="topmenu-LIGHT canfixed">
            <div class="logo_and_menu-row">
                <div class="logo-row row">
                    <div class="maxwidth-theme">
                        <div class="col-md-3 col-sm-4">
                            <div class="logo colored">
                                <a href="/">
                                    <img src="http://<?=$_SERVER['HTTP_HOST']?>/img/logo.png" alt="ООО 'Ангара-мониторинг'" title="ООО 'Ангара-мониторинг'">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-8 col-xs-12">

                            <div class="top-callback col-md-6">
                                <div class="callback pull-right hidden-xs"><span class="btn btn-default white btn-xs">Заказать звонок</span></div>
                                <div class="phone pull-right hidden-xs">
                                <div class="phone-number">
                                    <i class="fa fa-phone"></i>
                                    <div><span style="color: #969ba5;">+7 (3952)</span> 65-34-21</div>
                                </div>
                            </div>
                            </div>
                            <div class="top-callback col-md-6">
                               <div class="callback pull-right hidden-xs"><span class="btn btn-default white btn-xs" style="margin-left:5px;">Авторизация</span></div>
                               <div class="callback pull-right hidden-xs"><span class="btn btn-default btn-xs">Регистрация</span></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="menu-row row">
                    <div class="maxwidth-theme">
                        <div class="col-md-12">
                            <div class="nav-main-collapse collapse">
                                <div clas="menu-only">
                                    <nav class="mega-menu">
                                        <div class="table-menu hidden-xs">
                                            <table>
                                                <tbody>
                                                    <tr>
                                                        <td class=" " style="visibility: visible;">
                                                            <div class="wrap">
                                                                <a class="" href="/" title="Главная">Главная</a>
                                                            </div>
                                                        </td>
                                                        <td class=" " style="visibility: visible;">
                                                            <div class="wrap">
                                                                <a class="" href="/test1.php" title="Карта">Карта</a>
                                                            </div>
                                                        </td>
                                                        <td class=" " style="visibility: visible;">
                                                            <div class="wrap">
                                                                <a class="" href="/" title="Продукция">Продукция</a>
                                                            </div>
                                                        </td>
                                                        <td class=" " style="visibility: visible;">
                                                            <div class="wrap">
                                                                <a class="" href="/" title="Контакты">Контакты</a>
                                                            </div>
                                                        </td>
                                                        <td class=" " style="visibility: visible;">
                                                            <div class="wrap">
                                                                <a class="" href="/" title="О компании">О компании</a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?php //<nav><?=$MenuMine->MenuResult() </nav> ?>
        </header>